h1{
    font-family: Arial;}
h3{
    font-family: Arial;}
#bigMainBody{
    display: flex;
}
#leftSideSkirt{
    margin: auto;
}
#leftSideSkirtPic{
    float: right;
    margin: auto;
}
#mainBody{
    width: 645px;
}
#rightSideSkirt{
    margin: auto;
}


#dermImage{ 
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 645px;
}
#header{
    margin: auto;
    width: 535px;
}
