h1{
    font-family: Arial;
}
.centre {
    margin: auto;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
h3{
    font-family: Arial;
    
}
.centre2{
    margin:auto;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    overflow: hidden;
}